doctype html
html
  head
    title Be On Time
    style(type='text/css').
      .table{
      width: 100%;
      border: solid 1px #ccc;
      border-collapse: collapse;
      font-family: sans-serif;
      }
      .table td{
      padding: 8px 15px;
      }
  body
    div(style='width: 100%; text-align: center;')
      center
        div(style='width: 500px;')
          h4(style='font-family: sans-serif; background: #ffc107; margin: 0; text-transform: uppercase; padding: 11px; font-weight: 600;') Forgot password
          table(style='width: 100%; border: solid 1px #ccc; border-collapse: collapse; font-family: sans-serif;' border='1')
            tbody
              tr
                td(style='padding: 8px 15px;' width='50%') Name
                td(style='padding: 8px 15px;') aaaaaaaa
              tr
                td(style='padding: 8px 15px;') Email
                td(style='padding: 8px 15px;') aaaaaaaa
              tr
                td(style='padding: 8px 15px;') Phone
                td(style='padding: 8px 15px;') aaaaaaaa
              tr
                td(style='padding: 8px 15px;') Subject
                td(style='padding: 8px 15px;') aaaaaaaa
              tr
                td(style='padding: 8px 15px;') Feedback
                td(style='padding: 8px 15px;') aaaaaaaa
          h5(style='font-family: sans-serif; background: #ffc107; margin: 0;  padding: 10px; font-weight: 600;') Be On Time
